{% extends "layout.html" %}
{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}
{% block content %}

<div class="content-wrap">

<div class="header-wrap">
  <p class="logos" style="margin: 0">
    <a href="https://www.mit.edu/"><img height="35" src="{{ url_for('static', filename='images/mit-logo.png') }}" alt="Massachusetts Institute of Technology"></a>
    <a href="https://www.dal.ca/"><img height="35" src="{{ url_for('static', filename='images/dalhousie-logo.jpg') }}" alt="Dalhouse University"></a>
  </p>
  <h1 style="max-width: 500px; line-height: 1.2">MIT Study on Limiting the Chilling Effect from Online Copyright Takedown Notices </h1>

  <p style="font-size: 0.8em; margin-top: 0.5em; margin-bottom: 1em">
    <a href="https://twitter.com/natematias">J. Nathan Matias</a>, <a href="https://www.dal.ca/faculty/law/faculty-staff/our-faculty/jon-penney.html">Jonathon Penney</a>, and <a href="https://twitter.com/ohnobackspace">Jonathan Zong</a>, in collaboration with <a href="http://civilservant.io/">CivilServant</a>, with Ethan Zuckerman as Principal Investigator.
  </p>

</div>

<div class="scroll-wrap">
  <div>


  <p class="big-question">
    What effects do people experience from having tweets removed for copyright reasons?
  </p>
  <p>
     TODO
  </p>

  <h5>Do you have further questions? Contact us:</h5>

  <div class="contact">
    <div>J. Nathan Matias</div>
    <div><a href="mailto:jnmatias@mit.edu" target="_blank">jnmatias@mit.edu</a></div>
    <div><a href="https://twitter.com/natematias" target="_blank">@natematias</a> on Twitter</div>
  </div>

  </div>
</div>

  <div class="cta-wrap">
    <div class="btn-twitter-wrap">
      <a href="{{ url_for('login') }}">
        <div class="btn-twitter">
          <img src="{{ url_for('static', filename='images/twitter.png') }}" />
          Sign in with Twitter
        </div>
      </a>
    </div>
  </div>


</div>
{% endblock %}
