{% extends "layout.html" %}
{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/debrief.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}
{% block content %}
  <div class="nav">
    {% if 'user' in session %}
      <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
  </div>

  <form method="POST" action="{{ url_for('debrief') }}">
    {{ form.csrf_token }}
    <div class="debrief-interface">
      <div class="content">

        <p>
          Hi {{ user.screen_name }},
        </p>

        <p>
          Our team of researchers at MIT are trying to study the possible side effects of copyright enforcement on people's participation online.
        </p>

        <p>
          TODO
        </p>

        <p>
          To study this question, we have analyzed public records from the <a href="https://www.lumendatabase.org/">Lumen Database</a>, which is a public record collected by Harvard University of every attempt to remove tweets for alleged copyright reasons.
        </p>

        <p>
          In our study, we have collected and analyzed public information about how often people tweeted before and after receiving a copyright takedown request. We're interested to see if people tweet less on average after their tweets are taken down.
        </p>

        <p>
          Since your Twitter account was mentioned in the Lumen database, information about how often you tweet is in our records. We respect people's rights to privacy and have created this website for you to review what we collected and manage your privacy.
        </p>

        <p>
          Here is what we collected about your public Twitter behavior from [date] to [date]. When we publish our results, we plan to publish anonymized counts of tweeting frequency using methods that make it difficult to re-identify individuals.
        </p>

        <p>
          Our dataset includes only the following information and no more:
        </p>

        <div class="data-table">
          <div class="row">
            <div class="col-sm-6">
              When was your account created?
            </div>
            <div class="col-sm-6">
              {{ user.created_at }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              When was the DMCA notice filed?
            </div>
            <div class="col-sm-6">
              {{ user.notice_date }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              What is the corresponding entry in the Lumen database?
            </div>
            <div class="col-sm-6">
              <a href="https://www.lumendatabase.org/notices/{{ user.lumen_notice }}">{{ user.lumen_notice }}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              How many tweets did you send in the 23 day period before the notice?
            </div>
            <div class="col-sm-6">
              {{ user.num_tweets_before_notice }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              How many tweets did you send in the 23 day period after the notice?
            </div>
            <div class="col-sm-6">
              {{ user.num_tweets_after_notice }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              When was the last day we observed your account?
            </div>
            <div class="col-sm-6">
              {{ user.last_observation_date }}
            </div>
          </div>
        </div>

        <p>
          To learn more about our research, you can read our study design online <em>[link]</em>.
        </p>

        <h5>Choosing To Remain in the Study or Opt Out</h5>

        <p>
          By allowing us to include the above information, you can improve the quality of our research to help people whose tweets are removed for copyright reasons.
        </p>

        <p>
          In our research, public statements, and published results, we promise never to name you or reveal any identifying information about you. Yet you may have other reasons to ask us to remove your data from our systems. We respect that.
        </p>

        <ul>
          If you ask us to remove your data, we will take the following steps:
          <li>Remove your data from our internal storage and any backups over the next 48 hours</li>
          <li>Remove your data from published, anonymized research datasets</li>
          <li>Update this page to have no memory that you were ever part of our research</li>
        </ul>

        <div class="opt-out-checkbox">
          {{ form.opt_out(onchange="this.form.submit()")  }} {{ form.opt_out.label }}
        </div>

        <h5>Do you have further questions? Contact us:</h5>

        <p>
          J. Nathan Matias<br/>
          <a href="mailto:jnmatias@mit.edu" target="_blank">jnmatias@mit.edu</a><br/>
          <a href="https://twitter.com/natematias" target="_blank">@natematias</a> on Twitter
        </p>

        <p>
          If you feel you have been treated unfairly, or you have questions regarding your rights as a research subject, you may contact the Chairman of the Committee on the Use of Humans as Experimental Subjects, M.I.T., Room E25-143B, 77 Massachusetts Ave, Cambridge, MA 02139, phone 1-617-253 6787.
        </p>
      </div>
    </div>
  </form>
  <script src="{{ url_for('static', filename='scripts/survey.js') }}"></script>
{% endblock %}
