{% extends "layout.html" %}
{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/tweet.css') }}">
{% endblock %}
{% block content %}
  <div class="nav">
    <a href="{{ url_for('begin') }}">Back</a> |
    {% if 'user' in session %}
      <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
  </div>

  <p>
    Imagine that a tweet of yours was recently removed by Twitter, and you received a message from Twitter explaining that they removed it for copyright reasons. Next, imagine you received the following tweet several hours later.
  </p>

  {% if in_control_group %}
    <div class="tweet">
      <div class="tweet-meta">
        <img class="tweet-propic" src="https://pbs.twimg.com/profile_images/943384318251958272/6dURAW-h_bigger.jpg" alt="">
        <div class="tweet-from">
          <div class="tweet-from-name">
            CivicTechAI
          </div>
          <div class="tweet-from-handle">
            @CivicTechAI
          </div>
        </div>
      </div>
      <span class="tweet-link">@{{ user.screen_name }}</span> did you know that artificial software can play many videogames and win? Learn more 👉 <span class="tweet-link">[link]</span>
    </div>
  {% else %}
    <div class="tweet">
      <div class="tweet-meta">
        <img class="tweet-propic" src="https://pbs.twimg.com/profile_images/943383310037696512/bhsWlvnd_bigger.jpg" alt="">
        <div class="tweet-from">
          <div class="tweet-from-name">
            DMCAInfo
          </div>
          <div class="tweet-from-handle">
            @DmcaInfo
          </div>
        </div>
      </div>
      <span class="tweet-link">@{{ user.screen_name }}</span> we noticed a tweet of yours may have been removed for copyright reasons. It's common, rarely goes to court, & rarely happens twice. Learn more 👉 <span class="tweet-link">[link]</span>
    </div>
  {% endif %}

  <p>
    <a href="{{ url_for('tweet_debrief') }}">Next</a>
  </p>

{% endblock %}
