{% extends "layout.html" %}
{% block content %}
  {% if 'user' in session %}
    <div>
      <a href="{{ url_for('logout') }}">log out</a>
    </div>
  {% endif %}

  <hr>

  <p>
    Thanks for completing this survey! Your answers will help us improve the ethics of future social media research. After completing this study, we will send you a tweet with our results.
  </p>

  <p>
    If you want to stay up-to-date on our research, please follow <a href="https://twitter.com/natematias" target="_blank">@natematias</a>, <a href="https://twitter.com/ohnobackspace" target="_blank">@ohnobackspace</a>, <a href="https://twitter.com/betsylevyp" target="_blank">@betsylevyp</a>, and the Princeton Center for IT Policy at <a href="https://twitter.com/princetoncitp" target="_blank">@princetoncitp</a>. We plan to share the results of this study on Twitter as we have results.
  </p>

  <div>
    <img src="{{ url_for('static', filename='images/turtle.svg') }}"/>
    <p class="small">
      Turtle by Martyn Jasinski from the Noun Project
    </p>
  </div>
{% endblock %}
