{% extends "layout.html" %}
{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='debrief.css') }}">
{% endblock %}
{% block content %}
  <h1>Debrief</h1>
  <p>{{ user.id }}</p>
  <p>{{ user.screen_name }}</p>

  {% if 'user' in session %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}

  <hr>

  <form method="POST" action="/debrief">
    {{ form.csrf_token }}

    <div class="form-row {% if form.errors.click_recruitment %}has-error{% endif%}">
      {{ form.click_recruitment.label }} {{ form.click_recruitment }}
      {% if form.errors.click_recruitment %}
          <ul class="errors">
            <li>Please choose an option.</li>
          </ul>
        {% endif %}
    </div>

    <div class="form-row {% if form.errors.would_delete %}has-error{% endif%}">
      {{ form.would_delete.label }} {{ form.would_delete }}
      {% if form.errors.would_delete %}
          <ul class="errors">
            <li>Please choose an option.</li>
          </ul>
        {% endif %}
    </div>

    <div class="form-row {% if form.errors.society_benefit %}has-error{% endif%}">
      {{ form.society_benefit.label }} {{ form.society_benefit }}
      {% if form.errors.society_benefit %}
          <ul class="errors">
            <li>Please choose an option.</li>
          </ul>
        {% endif %}
    </div>

    <div class="form-row {% if form.errors.personal_benefit %}has-error{% endif%}">
      {{ form.personal_benefit.label }} {{ form.personal_benefit }}
      {% if form.errors.personal_benefit %}
          <ul class="errors">
            <li>Please choose an option.</li>
          </ul>
        {% endif %}
    </div>

    <div class="form-row {% if form.errors.collection_surprised %}has-error{% endif%}">
      {{ form.collection_surprised.label }} {{ form.collection_surprised }}
      {% if form.errors.collection_surprised %}
          <ul class="errors">
            <li>Please choose an option.</li>
          </ul>
        {% endif %}
    </div>

    <div class="form-row {% if form.errors.glad_in_study %}has-error{% endif%}">
      {{ form.glad_in_study.label }} {{ form.glad_in_study }}
      {% if form.errors.glad_in_study %}
          <ul class="errors">
            <li>Please choose an option.</li>
          </ul>
        {% endif %}
    </div>

    <div class="form-row {% if form.errors.share_results %}has-error{% endif%}">
      {{ form.share_results.label }} {{ form.share_results }}
      {% if form.errors.share_results %}
          <ul class="errors">
            <li>Please choose an option.</li>
          </ul>
        {% endif %}
    </div>

    <div class="form-row {% if form.errors.vote_study %}has-error{% endif%}">
      {{ form.vote_study.label }} {{ form.vote_study }}
      {% if form.errors.vote_study %}
          <ul class="errors">
            <li>Please choose an option.</li>
          </ul>
        {% endif %}
    </div>

    <div class="form-row {% if form.errors.improve_debrief %}has-error{% endif%}">
      {{ form.improve_debrief.label }} {{ form.improve_debrief }}
      {% if form.errors.improve_debrief %}
          <ul class="errors">
            {% for error in form.errors.improve_debrief %}
              <li>Please choose an option.</li>
            {% endfor %}
          </ul>
        {% endif %}
    </div>

    <div class="form-row">
      <input type="submit" value="Submit">
    </div>
  </form>
  <script src="{{ url_for('static', filename='debrief.js') }}"></script>
{% endblock %}
