{% extends "layout.html" %}
{% block content %}
  <div class="nav">
    {% if 'user' in session %}
      <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
  </div>

  <p>
    Thank you for reading about our study and checking to see if your Twitter account was part of our research. We could not find your account in our records, and you were not a part of this study.
  </p>

  <p>
    TODO
  </p>

  <div class="noun">
    <img src="{{ url_for('static', filename='images/puppy.svg') }}"/>
    <p class="small">
      Pug by Elena Rimeikaite from the Noun Project
    </p>
  </div>
{% endblock %}
