<!doctype html>
<title>DMCA Research - Princeton University</title>
<meta property="og:title" content="DMCA Research - Princeton University" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://dmca.cs.princeton.edu/" />
<meta property="og:image" content="http://dmca.cs.princeton.edu{{ url_for('static', filename='images/pu-sig.png') }}" />
<meta property="og:description" content="We'd like your input on a study to help people who have their tweets removed for copyright reasons." />
<meta name="twitter:card" content="summary_large_image">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name = "format-detection" content = "telephone=no">

<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}"/>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/bootstrap-grid-only.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/layout.css') }}">
{% block head %}{% endblock %}
<div class=container>
  {% block content %}{% endblock %}
  </div>
</div>

<!-- <script src="https://hypothes.is/embed.js" async></script> -->
