<!doctype html>
<!-- TODO: Title -->
<title>DMCA</title>
<meta property="og:title" content="DMCA" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://dmca.cs.princeton.edu/" />
<!-- <meta property="og:image" content="images/og/OG_rectangle.png" /> -->
<meta name="twitter:card" content="summary" />
<!-- TODO: OG meta tags -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}"/>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/bootstrap-grid-only.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/layout.css') }}">
{% block head %}{% endblock %}
<div class=container>
  {% block content %}{% endblock %}
  </div>
</div>
