<!doctype html>
<title>Research Debriefing</title>
<meta property="og:title" content="Research Debriefing" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://debrief.media.mit.edu/" /> <!-- TODO! -->

<meta name="twitter:card" content="summary">

<meta name="robots" content="noindex">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name = "format-detection" content = "telephone=no">

<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}"/>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/bootstrap-grid-only.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/layout.css') }}">
{% block head %}{% endblock %}
<div class=container>
  {% block content %}{% endblock %}
  </div>
</div>

<!-- <script src="https://hypothes.is/embed.js" async></script> -->
