.debrief-interface .content {
  padding: 0;
  border: none;
}

@media only screen and (min-width: 768px) {
  .debrief-interface .content {
    padding: 30px;
    border: 3px solid #f1f1f1;
    background: white;
  }
}

.debrief-interface p:first-child {
  margin-top: 0;
}

.debrief-interface p:last-child {
  margin-bottom: 0;
}

.debrief-interface img {
  border: 1px solid #aaa;
  padding: 15px 0;
  padding-right: 10px;
  background: white;
}

.debrief-interface .data-table .row {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.debrief-interface .data-table .row:nth-child(odd) {
  background-color: #f3f3f3;
}

.debrief-interface .data-table .row:nth-child(even) {
  background-color: white;
}

.debrief-interface .data-table .col-sm-3 {
  font-style: italic;
}

.debrief-interface .opt-out-checkbox {
  padding: 15px;
  background: #f3f3f3;
}

.debrief-interface ul li {
  list-style-type: circle;
  margin-left: 1em;
}
