.debrief-interface {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.debrief-interface .top {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.debrief-interface .top .dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.debrief-interface .content {
  padding: 30px;
  border: 3px solid #f1f1f1;
  background: white;
}

.debrief-interface p:first-child {
  margin-top: 0;
}

.debrief-interface p:last-child {
  margin-bottom: 0;
}

.debrief-interface img {
  border: 1px solid #aaa;
  padding: 15px 0;
  padding-right: 10px;
  background: white;
}

.debrief-interface .data-table .row {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.debrief-interface .data-table .row:nth-child(odd) {
  background-color: white;
}

.debrief-interface .data-table .row:nth-child(even) {
  background-color: #f7f7f7;
}

.debrief-interface .data-table .col-sm-3 {
  font-style: italic;
}

