.debrief-interface {
  padding: 30px;
  margin-left: -30px;
  margin-right: -30px;
  background: #efefef;
}

.debrief-interface p:first-child {
  margin-top: 0;
}

.debrief-interface p:last-child {
  margin-bottom: 0;
}

.debrief-interface img {
  border: 1px solid #aaa;
  padding: 15px 0;
  background: white;
}
