form ul {
  padding: 0;
  /*font-size: 12px;*/
}

form .form-row ul li {
  list-style-type: none !important;
  margin-left: 0 !important;
}

form textarea {
  resize: none;
  width: 100%;
  min-height: 150px;
  margin: 15px 0;
  border: 1px solid #aaa;
}

form .form-row {
  margin-top: 30px;
}

form .form-row > label {
  font-weight: bold;
  font-size: 0.9em;
}

form .has-error {
  /*background: #ffeeee;
  padding-top: 15px;
  padding-bottom: 15px;*/
}

form .errors {
  color: red;
  margin: 0;
}
