html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.025em;
  margin-bottom: 60px;
  color: #333;
  background: #fcfcfc;
}

a {
  text-decoration: none;
  color: #EE7F2D;
  white-space: nowrap;
}

p {
  margin-top: 0.6em;
  margin-bottom: 1.6em;
}

img {
  max-width: 100%;
}

h5 {
  font-size: 0.9em;
  margin-bottom: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.contact {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.small {
  font-size: 0.8em;
}

.noun {
  max-width: 50%;
  margin: 0 auto;
}

.nav {
  border-bottom: 1px solid #333;
  padding-bottom: 0.6em;
  margin-bottom: 1.6em;
}

input[type=submit] {
    padding:5px 15px;
    background:#777;
    color: white;
    border:0 none;
    cursor:pointer;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
