{% set debriefing_end_date = 'July 31, 2020' %}

{% extends "layout.html" %}
{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/debrief.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}
{% block content %}
  <div class="nav">
    {% if 'user' in session %}
      <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
  </div>

  <form method="POST" action="{{ url_for_experiment('debrief') }}">
    {{ form.csrf_token }}
    <div class="debrief-interface">
      <div class="content">
        <h3>Participation in Cornell University Study on Promoting Inclusion and Participation in r/feminism</h3>

        <p>
          Hi {{ user.screen_name }},
        </p>

        <p>
          Thank you for reading about our study and checking to see if your Reddit account was part of our research. We did find your account in our records, which indicate that you were part of the study:
        </p>

        <p>
          <ul>
            <li>On {{ user.assignment_datetime }}, after you commented for the first time on r/feminism, we included you in the study.</li>
            <li>We sent you a survey link a few weeks later.</li>
            <li>We counted the number of comments you made over eight weeks.</li>
          </ul>
        </p>

        <p>
          In our study, we collected and analyzed public information about how often people commented. We want to learn if people comment more if they receive a welcome message from the moderators. We also wanted to know if these messages increase newcomers’ sense of closeness to the community?
        </p>

        <p>
          Here is what we collected about your public Reddit behavior for eight weeks starting on {{ user.assignment_datetime }}. When the study is complete, we plan to publish an anonymized dataset that will make no reference to your Reddit ID and will exclude any information about specific dates or the contents of your comments so that it cannot be easily traced back to you. By publishing the data, we can ensure that other researchers can check our conclusions.
        </p>

        <p>
          Our dataset includes only the following information and no more:
        </p>

        <div class="data-table">
          <div class="row">
            <div class="col-sm-6">
              What reddit username did you use to comment in r/feminism?
            </div>
            <div class="col-sm-6">
              {{ user.screen_name }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              When were you added to the study?
            </div>
            <div class="col-sm-6">
              {{ user.assignment_datetime }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              How many comments did you make on r/feminism in the eight weeks after your first comment?
            </div>
            <div class="col-sm-6">
              {{ user.comments_8_weeks }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              If your account was banned by moderators, how many days was your account banned on r/feminism in the eight weeks after your first comment?
            </div>
            <div class="col-sm-6">
              {{ user.ban_days_8_weeks }}
            </div>
          </div>
          {% if user.completed_survey == 'True' %}
            <div class="row">
              <div class="col-sm-6">
                Did you identify as a feminist at the time you made your first comment in r/feminism?
              </div>
              <div class="col-sm-6">
                {{ user.identify_feminist }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                In this image, imagine that the circle on the left represents you and the circle on the right represents r/feminism.<br/>
                <img src="{{ url_for('static', filename='images/community_closeness.png') }}"/> <br/>
                Which number, corresponding to the images above, best describes your relationship with r/feminism?
              </div>
              <div class="col-sm-6">
                {{ user.community_closeness }}
              </div>
            </div>
          {% endif %}
        </div>

        <h5>Choosing To Opt Out Of This Study</h5>

        <p>
          By allowing us to include the above information in the study, you help us to be confident about the results. If many people choose to opt out, our results may end up skewed. For example, if everyone who does not feel close to the community were to opt out of the study, we might conclude that everyone feels close to the community.
        </p>

        <p>
          In our research or public statements, we promise never to name you or to reveal any identifying information about you. Yet you may have other reasons to opt out of this study and ask us to remove your information from our analysis. We respect that.
        </p>

        <p class="opt-out-checkbox">
          {{ form.opt_out }} {{ form.opt_out.label }}
        </p>

        <p>Following your preference, we will not include your data in our final analysis or in the public record. We are retaining the information here until {{debriefing_end_date}} so you can manage your privacy.</p>

        <h5>Learning The Study Results When They Are Ready</h5>

        <p>
          By participating in this research, you are contributing to public knowledge. Thank you! We know that you might be just as curious as us about the results. To hear the results when we have finished, please visit our website at <a href="https://citizensandtech.org/">citizensandtech.org</a>. The results of all our research contribute to public knowledge, and we are always glad when we can share them back with the people who participated.
        </p>

        <h5>Reporting Harms Caused By Participation in This Study</h5>

        <p>
          We designed this study to minimize the risks to you, protecting your data and limiting our activity to a single survey request. However, if you believe that our study has caused you more substantial relational, financial, or other harms, please let us know. You may reach out to us directly by contacting J. Nathan Matias (<a href="mailto:nathan.matias@cornell.edu">nathan.matias@cornell.edu</a>) (<a href="https://www.reddit.com/user/natematias">u/natematias</a> on Reddit), or by contacting the Cornell ethics board below.
        </p>

        <p style="font-style: italic;">
          If you have any questions or concerns regarding your rights as a subject in this study, you may contact the Institutional Review Board (IRB) for Human Participants at 607-255-5138 or access their website at http://www.irb.cornell.edu. You may also report your concerns or complaints anonymously through Ethicspoint online at www.hotline.cornell.edu or by calling toll free at 1-866-293-3077. Ethicspoint is an independent organization that serves as a liaison between the University and the person bringing the complaint so that anonymity can be ensured.
        </p>

      </div>

      <h5>Help Us Improve This Debriefing Software</h5>

        <p>
          If you would like to help us improve the debriefing process, please take a few minutes to fill out this survey. We plan to use these responses to evaluate the debriefing interface. Please only respond if you are 18 or older.
        </p>

        <div class="form-row {% if form.errors.collection_surprised_reddit %}has-error{% endif%}">
          {{ form.collection_surprised_reddit.label }} {{ form.collection_surprised_reddit }}
        </div>

        <div class="form-row {% if form.errors.glad_in_study %}has-error{% endif%}">
          {{ form.glad_in_study.label }} {{ form.glad_in_study }}
        </div>

        <div class="form-row {% if form.errors.share_results %}has-error{% endif%}">
          {{ form.share_results.label }} {{ form.share_results }}
        </div>

        <div class="form-row {% if form.errors.vote_study %}has-error{% endif%}">
          {{ form.vote_study.label }} {{ form.vote_study }}
        </div>

        <div class="{% if form.errors.improve_debrief %}has-error{% endif%}">
          <div class="form-row">
            {{ form.improve_debrief.label }}
          </div>
          {{ form.improve_debrief }}
        </div>

        <div>
          <input type="submit" value="Submit">
        </div>
    </div>
  </form>


  <script src="{{ url_for('static', filename='scripts/survey.js') }}"></script>
{% endblock %}
