{% extends "layout.html" %}
{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/tweet.css') }}">
{% endblock %}
{% block content %}
  <div class="nav">
    <a href="{{ url_for('begin') }}">Back</a> |
    {% if 'user' in session %}
      <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
  </div>

  <p>
    Imagine that you are a fan of the Marvel Cinematic Universe and that you follow @Avengers and @CaptainMarvel on Twitter. Next, imagine that the following account posts a tweet promoting the latest movie.
  </p>

  {% if in_control_group %}
    <div class="tweet">
      <div class="tweet-meta">
        <img class="tweet-propic" src="https://pbs.twimg.com/profile_images/958036328096116736/YdIIE-1T_400x400.jpg" alt="">
        <div class="tweet-from">
          <div class="tweet-from-name">
            The Avengers
          </div>
          <div class="tweet-from-handle">
            @Avengers
          </div>
        </div>
        <span class="tweet-twitter-icon"></span>
      </div>
      <div>
        Be a part of cinematic history. See Marvel Studios' “Avengers: <span class="tweet-link">#InfinityWar</span>” again. Get tickets: <span class="tweet-link">http://www.fandango.com/infinitywar</span>  (1/3)
      </div>
      <div class="tweet-time">
        1:56PM - May 13, 2018
      </div>
      <div class="tweet-card">
        <img src="https://pbs.twimg.com/media/DdGT04gVwAAPCDN.jpg">
      </div>
      <span class="tweet-icon tweet-reply"></span>
      <span class="tweet-icon tweet-retweet"></span>
      <span class="tweet-icon tweet-heart"></span>
    </div>
  {% else %}
    <div class="tweet">
      <div class="tweet-meta">
        <img class="tweet-propic" src="https://pbs.twimg.com/profile_images/791861922467422208/N4yYsLsL_400x400.jpg" alt="">
        <div class="tweet-from">
          <div class="tweet-from-name">
            Captain Marvel
          </div>
          <div class="tweet-from-handle">
            @CaptainMarvel
          </div>
        </div>
        <span class="tweet-twitter-icon"></span>
      </div>
      <div>
        Be a part of cinematic history. See Marvel Studios' “Avengers: <span class="tweet-link">#InfinityWar</span>” again. Get tickets: <span class="tweet-link">http://www.fandango.com/infinitywar</span>  (1/3)
      </div>
      <div class="tweet-time">
        2:01PM - May 13, 2018
      </div>
      <div class="tweet-card">
        <img src="https://pbs.twimg.com/media/DdGT04gVwAAPCDN.jpg">
      </div>
      <span class="tweet-icon tweet-reply"></span>
      <span class="tweet-icon tweet-retweet"></span>
      <span class="tweet-icon tweet-heart"></span>
    </div>
  {% endif %}


  <div>
    <p>
      <a href="{{ url_for('tweet_debrief') }}"><input type="submit" value="Next"></a>
    </p>
  </div>

{% endblock %}
